{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}iFriends{% endblock %}</title>
</head>
<body>
{% load custom_tags %}
<table width=100% bgcolor="111177">
<tr><td>
<font size="12" color="white">iFriends Webspace</font>
</td></tr>
<tr>
<td bgcolor="bbbbbbb">
    {% navLink %}
</td>
<td bgcolor="white"><font size="3">
    {% if user.is_authenticated %}
        {% trans "Welcome" %} {{ user.username }}.
    {% else %}
        <a href="/Login">Login</a>
    {% endif %}
</font></td>
</tr>
</table>
{% block content %}{% endblock %}
</body>
</html>
